* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #B7A6A4;
    margin: auto;
    width: 60%;
    color: #141313;
}

a {
    text-decoration: none;
    color: #141313;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.item {
    display: inline-block;

}
/* header */

header {
    position: relative;
    margin-top: 10px;
    background-color: #E9D8D0;
}

h1 {
    text-align: center;
}

header a {
    position: absolute;
    right: 5px;
    top: 8px;
    background-color: #DC2152;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

/* end header */

/* main */

nav {
    background-color: #E9D8D0;
    padding: 10px 5px 10px;
    text-align: center;
    font-weight: bold;
}

.nav_item {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    }

.container {
    margin-top: 30px;
    text-align: center;
}

.item {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}

.sale {
    position: absolute;
    background-color: green;
    right: 0;
    top: 0;
    border-bottom-left-radius: 40px;
    font-weight: bold;
    font-style: italic;
    padding: 5px 10px 10px;
    border-top-right-radius: 30px;
}
/* end main */

/* footer */

.contatti {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    border-top-color: #E9D8D0;
    border-top-style: solid;
    border-top-width: thick;
    padding-top: 20px;
}

.contatti span {
    font-weight: bold;
}
.contatti ul {
    margin-top: 20px;
    list-style: none;
}
/* end footer */
